<div id="landing_header">
  <div id="landing_logo"><img src="/logo.png"></div>
</div>
<div class="left">
  <h1 class="title">Sign Up</h1>
  <%= form_for(@user) do |form| %>
  <%= render form %>
    <div class="actions">
      <%= form.submit 'Create New' %>
    </div>
  <% end %>
</div>

<div id="right">
  <h1 class="title">Log In</h1>
  <%= form_tag login_path, method: 'post' do |form| %>
      <div id="users_login">
        <div><%= label_tag :email %></div>
        <div><%= text_field_tag :email, params[:email] %></div>
        <div><%= label_tag :password %></div>
        <div><%= password_field_tag :password, params[:login] %></div>
        <br>
        <div><%= submit_tag 'Log In' %></div>
        <br>
      </div>
  <% end %>
</div>


<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-60818663-1', 'auto');
 ga('send', 'pageview');

</script>