<h1>New User</h1>
<%= form_for(@user) do |form| %>
<%= render form %>
  <div class="actions">
    <%= form.submit 'Create New' %>
  </div>
<% end %>

<h1>Log In</h1>
<%= form_tag login_path, method: 'post' do |form| %>
    <div id="users_login">
      <div><%= label_tag :email %></div>
      <div><%= text_field_tag :email, params[:email] %></div>
      <div><%= label_tag :password %></div>
      <div><%= password_field_tag :password, params[:login] %></div>
      <br>
      <div><%= submit_tag 'Log In' %></div>
      <br>
    </div>
<% end %>


<%= button_to "LoginWithTwitter", '/users/twitterlogin', method: "get" %>


<%= link_to 'Back', users_path %>
